# Print "Hello Python" for 10 times

In [1]:
i = 1
while i<=10:
    print("Hello Python")
    i = i + 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

# Print numbers 1 to 10

In [4]:
i = 1
while i<=10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

# Print sum of first 10 numbers

In [5]:
i = 1
sum = 0
while i<=10:
    sum = sum + i
    print(sum)
    i = i + 1

1
3
6
10
15
21
28
36
45
55

# Sum of n numbers

In [6]:
n = int(input('enter how manys numbers sum u want:'))
i = 1
sum = 0
while i<=n:
    sum = sum + i
    i = i + 1
print(sum)

enter how manys numbers sum u want:56
1596

# Print n numbers

In [7]:
n = int(input('enter how many numbers u want:'))
i=1
while i<=n:
    print(i)
    i = i+1

enter how many numbers u want:21
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

# Table of number

In [8]:
n = int(input('enter any number:'))
i = 1
while i<=10:
    print(n,'X',i,'=',n*i)
    i+=1

enter any number:11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

# Factorial

In [10]:
n = int(input('enter any number:'))
i = 1
fac = 1
while i<=n:
    fac = fac*i
    i+=1
print(fac)

enter any number:10
3628800

# Even Numbers 1 to 100

In [11]:
i = 1
while i<=100:
    if i%2==0:
        print(i)
    i = i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Odd numbers 1 to 100

In [12]:
i = 1
while i<=100:
    if i%2!=0:
        print(i)
    i = i+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Print 0 to 10 numbers using for loop

In [13]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
for j in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

# Sum of 1 to 10 numbers using for loop#

In [15]:
sum = 0
for i in range(11):
    sum = sum + i
print(sum)

55

In [16]:
sum = 0
for i in range(11):
    sum = sum + i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55

In [17]:
for i in range(10):
    print(i)
else:
    print("Condition executed...came out of loop")

0
1
2
3
4
5
6
7
8
9
Condition executed...came out of loop