### Program to create a tuple

In [1]:
a = tuple(input('Enter tuple elements:'))
print(a)
print(type(a))

Enter tuple elements:843973
('8', '4', '3', '9', '7', '3')
<class 'tuple'>

### Program to create tuple with different data types

In [2]:
t = ("renu",8,6.9,True,2.8,'ruhi',5)
print(t)
print(type(t))

('renu', 8, 6.9, True, 2.8, 'ruhi', 5)
<class 'tuple'>

### Program to create tuple with numbers and print one item

In [3]:
a = tuple(input('Enter integers for tuple elements:'))
print(a)
print("any one integer item in tuple:", int(a[2]))

Enter integers for tuple elements:8593025
('8', '5', '9', '3', '0', '2', '5')
any one integer item in tuple: 9

### Program to add an item in tuple

In [4]:
t = (2, 4, 6, 8, 10)
t1 = t + (12,)
print(t1)

(2, 4, 6, 8, 10, 12)

In [5]:
t = (2, 4, 6, 8, 10)
l1 = list(t)
print(l1)
l1.append(12)
t1 = tuple(l1)
print(t1)

[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10, 12)

### Program to convert tuple to a string

In [6]:
t = tuple(input('Enter tuple elements:'))
print(t)
print(type(t))
s = str(t)
print(s)
print(type(s))

Enter tuple elements:753r8njs
('7', '5', '3', 'r', '8', 'n', 'j', 's')
<class 'tuple'>
('7', '5', '3', 'r', '8', 'n', 'j', 's')
<class 'str'>

### Program to get 4th element from first & last of a tuple

In [7]:
t = tuple(input('Enter tuple elements:'))
print(t)
print('4th element from first:', t[3])
print('4th element from last:', t[-4])

Enter tuple elements:8493968285
('8', '4', '9', '3', '9', '6', '8', '2', '8', '5')
4th element from first: 3
4th element from last: 8